.uvprot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #a64dff;
}
.inputContainerUv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.rangeinput {
  color: #a64dff;
  font-size: 10px;
}
.paar1uv {
  font-size: 10px;
}
